.authentication__submit-button {
  height: 50px;
  border: none;
  cursor: pointer;
  color:black;
  margin-top: 216px;
  padding: 0;
  transition: opacity ease-in .2s;
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

@media (max-width: 768px)  {
  .authentication__submit-button {
    font-size: 16px;
    line-height: 19px;
    margin-top: 173px;
  }
}