@import "./vendor/normalize.css";
@import "./vendor/fonts.css";
@import "./blocks/body/body.css";
@import "./blocks/page/page.css";
@import "./blocks/header/header.css";
@import "./blocks/header/__logo/header__logo.css";
@import "./blocks/header/__email/header__email.css";
@import "./blocks/header/__authentication/header__authentication.css";
@import "./blocks/header/__authentication-link/header__authentication-link.css";
@import "./blocks/main/main.css";
@import "./blocks/profile/profile.css";
@import "./blocks/profile/__photo/profile__photo.css";
@import "./blocks/profile/__text/profile__text.css";
@import "./blocks/profile/__title/profile__title.css";
@import "./blocks/profile/__subtitle/profile__subtitle.css";
@import "./blocks/profile/__edit-button/profile__edit-button.css";
@import "./blocks/profile/__add-button/profile__add-button.css";
@import "./blocks/profile/__avatar-overlay/profile__avatar-overlay.css";
@import "./blocks/cards/cards.css";
@import "./blocks/card/card.css";
@import "./blocks/card/__image/card__image.css";
@import "./blocks/card/__image-subtitle/card__image-subtitle.css";
@import "./blocks/card/__title/card__title.css";
@import "./blocks/card/__like/card__like.css";
@import "./blocks/card/__like/_black/card__like_black.css";
@import "./blocks/card/__remove/card__remove.css";
@import "./blocks/card/__remove/_display-none/card__remove_none.css";
@import "./blocks/card//__likes-number/card__likes-number.css";
@import "./blocks/footer/footer.css";
@import "./blocks/footer/__copyright/footer__copyright.css";
@import "./blocks/popup/popup.css";
@import "./blocks/popup/_opened/popup_opened.css";
@import "./blocks/popup/__container/popup__container.css";
@import "./blocks/popup/__form/popup__form.css";
@import "./blocks/popup/__title/popup__title.css";
@import "./blocks/popup/__input/popup__input.css";
@import "./blocks/popup/__submit-button/popup__submit-button.css";
@import "./blocks/popup/__close-button/popup__close-button.css";
@import "./blocks/popup/__input/_type/popup__input_type_error.css";
@import "./blocks/popup/__submit-button/_disabled/popup__button_disabled.css";
@import "./blocks/popup/__submit-button-confirm/popup__submit-button-confirm.css";
@import "./blocks/popup/__title-confirm/popup__title-confirm.css";
@import "./blocks/popup/__error/popup__error-message.css";
@import "./blocks/popup/__error/_visible/popup__error_visible.css";
@import "./blocks/popup-illustration/popup-illustration.css";
@import "./blocks/popup-illustration/__img/popup-illustration__img.css";
@import "./blocks/popup-illustration/__title/popup-illustration__title.css";
@import "./blocks/authentication/authentication.css";
@import "./blocks/authentication/__form/authentication__form.css";
@import "./blocks/authentication/__title/authentication__title.css";
@import "./blocks/authentication/__input/authentication__input.css";
@import "./blocks/authentication/__submit-button/authentication__submit-button.css";
@import "./blocks/authentication/__subtitle/authentication__subtitle.css";
@import "./blocks/authentication/__subtitle-link/authentication__subtitle-link.css";